/doc/exact-present-ramsey.aux
/doc/exact-present-ramsey.bbl
/doc/exact-present-ramsey.bcf
/doc/exact-present-ramsey.blg
/doc/exact-present-ramsey.log
/doc/exact-present-ramsey.out
/doc/exact-present-ramsey.rel
/doc/exact-present-ramsey.run.xml
/doc/consistent-local-continuous.aux
/doc/consistent-local-continuous.bbl
/doc/consistent-local-continuous.bcf
/doc/consistent-local-continuous.blg
/doc/consistent-local-continuous.log
/doc/consistent-local-continuous.out
/doc/consistent-local-continuous.pdf
/doc/consistent-local-continuous.run.xml
